{% load static %}
{% block content %}


  <style>
    body{
      margin: 0;
    }
    input{
      all: unset;
      width: 250px;
      height: 30px;
      flex-shrink: 0;
      border-radius: 5px;
      background: #000;
      font-size: 16px;
    }

    button{
      all: unset;
      cursor: pointer;
    }
    p{
      width:160px;
      margin-top: 10px;
      color: #FFF;
      font-family: Inter,sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
    }
    label{
      color: #FFF;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
    }
    input:hover{
      Box-shadow:0px 1px 0px #009FE3,0px -1px 0px #009FE3,1px 0px 0px #009FE3,-1px 0px 0px #009FE3;
      transition: 0.5s;
    }
    input:focus{
      Box-shadow:0px 1px 0px #009FE3,0px -1px 0px #009FE3,1px 0px 0px #009FE3,-1px 0px 0px #009FE3;
      transition: 1s;
    }
    .enter_block{
      width: 300px;
      height: 400px;
      border-radius: 0px 0px 30px 0px;
      background: #1F1F20;
    }
    .form{
      margin-top: 70px;
      margin-left: 25px;
      padding-bottom: 40px;
    }
    .login_button{
      margin-left: 22%;
      width: 135px;
      height: 30px;
      border-radius: 100px;
      background: var(--main-white, #FFF);
      color: var(--main-black, #1F1F20);
      text-align: center;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .login_button:hover{
      filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
      transition: 0.5s;
    }
    .login_button:focus{
      transition: 0.1s;
      background: var(--main-white, #009FE3);
    }
    h2{
      text-align: center;
      font-family: Inter, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background: linear-gradient(rgba(0,159,227,1), rgba(255,255,255,1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 50px;
    }
    html {
	  background: #383639;
    }
    li{
      color: red;
    }
    @media (min-width: 1920px) {
        body {
            zoom: 120%;
        }
      }

    .register_button{
        text-decoration: none;
        color: #009FE3;
        font-family: Inter,sans-serif;
        margin-left: 105px;
        margin-top: 10px;
    }
    .register_button:hover{
        color: white;
        transition: 0.6s;
    }
    #vanta-bg {
      background-color: transparent;
    }


  </style>

  <div id="vanta-bg" style="width: 100%; height: 100vh; position: relative;">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 10;">
      <div class="auth_block" style="height: 400px;width: 600px; margin:auto; margin-top: 10%;">
        <div style="display: flex;">
          <img src="{% static 'images/LeftSection.png' %}">
          <div class="enter_block">
              <h2 style="">LOG IN</h2>
              <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="login_button">Login</button>

              </form>
          </div>


        </div>

      </div>
    </div>
  </div>



<script src="{% static 'js/three.min.js' %}"></script>
<script src="{% static 'js/vanta.net.min.js' %}"></script>
<script>
window.addEventListener('DOMContentLoaded', (event) => {
  VANTA.NET({
    el: "#vanta-bg",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x009FE3,
    backgroundColor: 0xffffff,
    points: 10.00,
    maxDistance: 40.00,
    spacing: 25.00,
    showDots: true
  })
});
</script>

  {% for field in form %}
    {% if field.errors %}
      <div class="alert alert-danger">
        {{ field.errors }}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
