{% block content %}
<h2>Статистика пользователя</h2>

{% if statistics %}
<table border="1">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата и время прохождения теста</th>
            <th>Время прохождения</th>
            <th>Выдан самоспасатель</th>
            <th>Выдана головная лампа</th>
            <th>Использован самоспасатель</th>
            <th>Сообщил о ЧС</th>
            <th>Пользователь</th>
            <th>Прошел модуль</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in statistics %}
        <tr>
            <td>{{ stat.full_name }}</td>
            <td>{{ stat.date }}</td>
            <td>{{ stat.time }}</td>
            <td>{{ stat.respirator_provided|yesno:"Да,Нет" }}</td>
            <td>{{ stat.headlamp_provided|yesno:"Да,Нет" }}</td>
            <td>{{ stat.respirator_used|yesno:"Да,Нет" }}</td>
            <td>{{ stat.phone_message|yesno:"Да,Нет" }}</td>
            <td>{{ stat.login_user }}</td>
            <td>{{ stat.mission_complete|yesno:"Да,Нет" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Статистика отсутствует.</p>
{% endif %}

<form method="get" action="{% url 'download_statistics' %}">
    <button type="submit">Скачать в XLSX</button>
</form>

{% endblock %}